<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">Home</a> <br>

Add Users Page | <a href="/users">Users</a> <br>

<form action="/users/add" method="post">
    <input type="text" name="name" placeholder="name"> <br>
    <input type="text" name="surname" placeholder="surname"><br>
    <input type="text" name="email" placeholder="email"><br>
    <input type="text" name="password" placeholder="password"><br>
    UserType: <select name="userType">
    <option value="USER">USER</option>
    <option value="ADMIN">ADMIN</option>
</select>
    <input type="submit" value="Add">
</form>

</body>
</html>